<!DOCTYPE html>
<html
        xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
        layout:decorator="_layouts/employee">
<th:block layout:fragment="content">
    <h1 th:utext="${title}"/>
    <div th:if="${message != null}" th:utext="${message}"/>
    <div>
        <a th:href="@{/employee/create}">Add Employee</a>
    </div>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Birth</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
        <tr th:each="employee : ${employee}">
            <td><a th:href="@{/employee/{id}(id = ${employee.id})}" th:utext="${employee.id}"/></td>
            <td><a th:utext="${employee.name}"></a></td>
            <td><a th:utext="${employee.gender}"/></td>
            <td><a th:utext="${#dates.format(employee.birth, 'yyyy-MM-dd')}"/></td>
            <td><a th:utext="${employee.address}"/></td>
            <td>
                <a th:href="@{/employee/{id}/edit(id = ${employee.id})}">Edit</a>
                <form th:method="delete" th:action="@{/employee/{id}(id = ${employee.id})}">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
    </table>
    <div><span th:text="${total_results}"/> Results</div>
    <div>Page <span th:text="${page}"/> of <span th:text="${total_pages}"/></div>
    <div>
        <a th:if="${prev != null && prev > 0}" th:href="@{/employee?page={prev}(prev=${prev})}">Previous</a>
        <a th:if="${next != null}" th:href="@{/employee?page={next}(next=${next})}">Next</a>
    </div>
</th:block>
</html>