<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorator="_layouts/employee"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<th:block layout:fragment="content">
    <h1 th:utext="${title}"/>
    <p><b>Name</b>: <th:block th:utext="${employee.name}"/></p>
    <p><b>Gender</b>: <th:block th:utext="${employee.gender}"/></p>
    <p><b>Birth</b>: <th:block th:utext="${employee.birth}"/></p>
    <p><b>Address</b>: <th:block th:utext="${employee.address}"/></p>
    <br/>
    <a th:href="@{/employee/{id}/edit (id = ${employee.id})}" th:utext="Edit"/>
    <form th:method="delete" th:action="@{/employee/{id}(id = ${employee.id})}">
        <button type="submit">Delete</button>
    </form>
</th:block>
</html>