<head th:fragment="head" xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title th:text="${title} ? ${title} : 'Employee'"/>
    <link rel="stylesheet" th:href="@{/styles/index.css}">
</head>